h1{
    color:rgb(73, 109, 186);
    text-align: center;
}
h2{
    text-align: center;
}

button{
    border:none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-bottom: 5px;
}
#increment-btn{
    display: block;
    margin: 0 auto;
    background:darkred;
}

#save-btn{
    display: block;
    margin: 0 auto;
    background:rgb(15, 135, 17);
    
}